/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../../../Desktop/front-end/hw/hw9/scss/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 97, ../../../Desktop/front-end/hw/hw9/scss/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 111, ../../../Desktop/front-end/hw/hw9/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 115, ../../../Desktop/front-end/hw/hw9/scss/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 120, ../../../Desktop/front-end/hw/hw9/scss/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 126, ../../../Desktop/front-end/hw/hw9/scss/_reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 134, ../../../Desktop/front-end/hw/hw9/scss/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 141, ../../../Desktop/front-end/hw/hw9/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 146, ../../../Desktop/front-end/hw/hw9/scss/_reset.scss */
a {
  text-decoration: none;
}

/* line 88, ../../../Desktop/front-end/hw/hw9/scss/_grid.scss */
.container {
  border: 0;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 576px) {
  /* line 88, ../../../Desktop/front-end/hw/hw9/scss/_grid.scss */
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  /* line 88, ../../../Desktop/front-end/hw/hw9/scss/_grid.scss */
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  /* line 88, ../../../Desktop/front-end/hw/hw9/scss/_grid.scss */
  .container {
    width: 960px;
  }
}

@media (min-width: 1250px) {
  /* line 88, ../../../Desktop/front-end/hw/hw9/scss/_grid.scss */
  .container {
    width: 1200px;
  }
}

@media (min-width: 1250px) {
  /* line 88, ../../../Desktop/front-end/hw/hw9/scss/_grid.scss */
  .container {
    width: 62.5vw;
  }
}

@media (min-width: 1921px) {
  /* line 88, ../../../Desktop/front-end/hw/hw9/scss/_grid.scss */
  .container {
    padding: 0 15px;
  }
}

/* line 113, ../../../Desktop/front-end/hw/hw9/scss/_grid.scss */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

/* line 119, ../../../Desktop/front-end/hw/hw9/scss/_grid.scss */
.numbers__item, .destinations__item, .destinations__item--wide, .boats__item, .footer__item, .footer__item--wide {
  padding: 0 15px;
}

/* line 1, ../../../Desktop/front-end/hw/hw9/scss/_general.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../../Desktop/front-end/hw/hw9/scss/_general.scss */
html {
  font-size: 7.5px;
}

@media (min-width: 992px) {
  /* line 5, ../../../Desktop/front-end/hw/hw9/scss/_general.scss */
  html {
    font-size: 8px;
  }
}

@media (min-width: 1250px) {
  /* line 5, ../../../Desktop/front-end/hw/hw9/scss/_general.scss */
  html {
    font-size: 10px;
  }
}

@media (min-width: 1921px) {
  /* line 5, ../../../Desktop/front-end/hw/hw9/scss/_general.scss */
  html {
    font-size: 0.52vw;
  }
}

/* line 20, ../../../Desktop/front-end/hw/hw9/scss/_general.scss */
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #343435;
}

/* line 7, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.inline-form__field, .subscribe__input {
  display: flex;
  border: 0;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: #fff;
  height: 100%;
}

/* line 16, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.intro__btn, .footer__btn, .boat-info__btn {
  border: 0;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #e8414c;
  text-transform: uppercase;
}

/* line 26, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.intro__btn, .footer__btn {
  border-radius: 0 0.5rem 0.5rem 0;
}

/* line 32, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.intro__btn, .footer__btn, .boat-info__btn, .destinations__btn, .boats__btn {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
}

/* line 40, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.destinations__btn, .boats__btn {
  border-radius: 0.5rem;
  color: #343435;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0);
}

/* line 48, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.destination__text, .boat__text {
  font-size: 3rem;
  z-index: 2;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

/* line 56, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.destination__label, .boat__label {
  background-color: #e8414c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 0.6rem;
}

/* line 69, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.intro {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/intro.png");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  color: #fff;
  text-align: center;
}

/* line 80, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #555555;
  opacity: 0.6;
  mix-blend-mode: multiply;
}

/* line 98, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.intro__logo {
  position: absolute;
  top: 2rem;
  left: 0rem;
}

@media (min-width: 768px) {
  /* line 98, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .intro__logo {
    top: 2.7rem;
    left: 15.6rem;
  }
}

@media (min-width: 992px) {
  /* line 98, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .intro__logo {
    top: 3.5rem;
    left: 20.2rem;
  }
}

@media (min-width: 1250px) {
  /* line 98, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .intro__logo {
    top: 4.5rem;
    left: 25.5rem;
  }
}

/* line 117, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.intro__nav {
  position: absolute;
  top: 2rem;
  right: 0rem;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

@media (min-width: 1250px) {
  /* line 117, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .intro__nav {
    top: 4.5rem;
    right: 25.5rem;
  }
}

@media (min-width: 992px) {
  /* line 117, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .intro__nav {
    top: 3.5rem;
    right: 20.2rem;
  }
}

@media (min-width: 768px) {
  /* line 117, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .intro__nav {
    top: 2.7rem;
    right: 15.6rem;
  }
}

/* line 140, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.intro__subtitle {
  margin: 3rem 0 9rem;
}

/* line 143, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.intro__form {
  display: flex;
  justify-content: start;
}

/* line 147, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.intro__btn {
  width: 24vw;
}

@media (min-width: 992px) {
  /* line 147, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .intro__btn {
    width: 20rem;
  }
}

/* line 154, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.intro__numbers {
  position: absolute;
  bottom: -7vh;
  /*  @media(min-width: $md){
      bottom: -4rem;
    }
    @media(min-width: $lg){
      bottom: -5.2rem;
    }
    @media(min-width: $){
      bottom: -5.2rem;
    } */
  background-color: #fff;
  height: 14rem;
  text-align: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

/* line 173, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.inline-form {
  height: 6rem;
}

/* line 175, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.inline-form__field {
  width: 76vw;
  padding: 2rem;
}

@media (min-width: 992px) {
  /* line 175, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .inline-form__field {
    width: 57rem;
  }
}

/* line 188, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.nav__item {
  padding: 0 1.2rem;
  color: #f9fafe;
}

/* line 192, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.nav__btn {
  background: rgba(255, 255, 255, 0);
  color: #f9fafe;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border-radius: 2rem;
  border: 1px solid #fff;
  width: 15rem;
  height: 4rem;
}

/* line 206, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.numbers__container {
  padding: 3.5rem 0;
}

/* line 209, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.numbers__item {
  height: 100%;
}

@media (min-width: 992px) {
  /* line 209, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .numbers__item {
    width: calc((100% / 12) * 3);
  }
}

/* line 213, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.numbers__title {
  color: #343435;
  font-weight: bold;
  font-size: 3rem;
}

/* line 218, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.numbers__line {
  position: absolute;
  top: 3.2rem;
  height: 8rem;
}

@media (min-width: 992px) {
  /* line 218, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .numbers__line {
    border-left: 1px solid #717171;
  }
}

/* %info-btn {
  display: flex;
  justify-content: center;  
  font-weight: bold;
  font-size: 1.4rem;
  font-family: $font-title;
  color: $color-dark;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
}
 */
/* line 244, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.destinations {
  padding: 17.5rem 0 8rem;
}

/* line 246, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.destinations__container {
  margin-top: 8.5rem;
}

/* line 249, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.destinations__item {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  /* line 249, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .destinations__item {
    width: calc((100% / 12) * 4);
  }
}

@media (min-width: 992px) {
  /* line 252, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .destinations__item--wide {
    width: calc((100% / 12) * 8);
  }
}

/* line 256, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.destinations__btn {
  margin-top: 10rem;
  height: 6rem;
  width: 31rem;
}

/* line 264, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.destination {
  height: 29rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
  position: relative;
}

@media (min-width: 1250px) {
  /* line 264, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .destination {
    height: 37rem;
  }
}

/* line 269, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.destination--service1 {
  background-image: url("../img/service1.png");
}

/* line 272, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.destination--service2 {
  background-image: url("../img/service2.png");
}

/* line 275, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.destination--service3 {
  background-image: url("../img/service3.png");
}

/* line 278, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.destination--service4 {
  background-image: url("../img/service4.png");
}

/* line 281, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.destination--service5 {
  background-image: url("../img/service5.png");
}

/* line 291, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.destination::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  opacity: 0.6;
  mix-blend-mode: multiply;
  background: linear-gradient(#fff, #000);
  z-index: 1;
}

/* line 306, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.destination__subtitle {
  padding-top: 1.5rem;
  font-size: 2rem;
}

/* line 310, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.destination__label {
  width: 8rem;
  height: 4.5rem;
}

/* line 318, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boat-info {
  background-image: url("../img/boat-info.png");
  background-size: cover;
  background-position: center;
  height: 70vh;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 0;
}

/* line 327, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boat-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #201b5b;
  z-index: -1;
  opacity: 0.3;
  mix-blend-mode: multiply;
}

/* line 339, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boat-info__text {
  padding-top: 19rem;
}

/* line 342, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boat-info__subtitle {
  padding-top: 2.7rem;
}

/* line 345, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boat-info__btn {
  position: relative;
  top: 9rem;
  width: 32rem;
  height: 5.5rem;
}

/* line 354, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boats {
  padding-top: 10rem;
  padding-bottom: 20rem;
}

/* line 357, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boats__item {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  /* line 357, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .boats__item {
    width: calc((100% / 12) * 6);
  }
}

/* line 361, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boats__container {
  margin-top: 9rem;
}

/* line 364, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boats__btn {
  position: relative;
  top: 9rem;
  width: 23rem;
  height: 5.5rem;
}

/* line 373, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boat {
  height: 29rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
  position: relative;
}

@media (min-width: 1250px) {
  /* line 373, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .boat {
    height: 34rem;
  }
}

/* line 378, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boat--1 {
  background-image: url("../img/boat1.png");
}

/* line 381, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boat--2 {
  background-image: url("../img/boat2.png");
}

/* line 384, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boat--3 {
  background-image: url("../img/boat3.png");
}

/* line 387, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boat--4 {
  background-image: url("../img/boat4.png");
}

/* line 397, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boat::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  opacity: 0.6;
  mix-blend-mode: multiply;
  background: linear-gradient(#fff, #000);
  z-index: 0;
}

/* line 410, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boat__label {
  width: 10.5rem;
  height: 4.2rem;
}

/* line 419, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.boat__subtitle {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: regular;
  margin-top: 2rem;
}

/* line 429, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.footer {
  /*   position: absolute;
  bottom: 0; */
  height: 38%;
  background-image: url("../img/footer-bg.png");
  background-size: cover;
  background-position: start;
}

/* line 437, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.footer__item {
  padding: 0 30px;
}

@media (min-width: 992px) {
  /* line 437, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .footer__item {
    width: calc((100% / 12) * 2);
  }
}

/* line 440, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.footer__item--wide {
  padding: 0 30px;
  /*  margin: $gutter * 2; */
}

@media (min-width: 992px) {
  /* line 440, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
  .footer__item--wide {
    width: calc((100% / 12) * 6);
  }
}

/* line 446, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.footer__item-container {
  margin-top: 6.5rem;
  color: #fff;
  font-size: 1.4rem;
}

/* line 451, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.footer__title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding-bottom: 2.5rem;
}

/* line 456, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.footer__text {
  font-weight: regular;
  line-height: 2;
}

/* line 460, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.footer__subscribe {
  display: flex;
  justify-content: start;
}

/* line 464, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.footer__btn {
  width: 15rem;
}

/* line 471, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.subscribe__field {
  height: 4.2rem;
}

/* line 474, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.subscribe__input {
  width: 27rem;
  padding: 2rem;
}

/* line 482, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.img-label__map {
  width: 2rem;
  height: 2rem;
}

/* line 487, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.img-label__people-number {
  width: 2rem;
  height: 2rem;
}

/* line 493, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.subtitle__map {
  display: flex;
}

/* line 496, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.subtitle__people {
  display: flex;
  padding-left: 2rem;
}

/* line 503, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.title {
  font-size: 7.2rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5rem;
}

/* line 510, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.subtitle {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: regular;
}

/* line 517, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.section-title {
  text-align: center;
}

/* line 519, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.section-title__title {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

/* line 524, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.section-title__subtitle {
  padding: 3rem 0 8rem;
}

/* line 530, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.row--center {
  display: flex;
  justify-content: center;
}

/* line 535, ../../../Desktop/front-end/hw/hw9/scss/main.scss */
.usually-text {
  color: #717171;
  font-weight: 400;
  font-size: 1.6rem;
}

/*# sourceMappingURL=main.css.map */