
@import "./reset.scss";
@import "./vars.scss";
@import "./grid.scss";
@import "./general.scss";

%form-input {
  display: flex;
  border: 0;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: #fff;
  height: 100%;
}


%btn__accent {
  @extend %btn__text;
  border: 0;
  border-radius: 0.5rem;
  color: #fff;
  background-color: $color-label;
  text-transform: uppercase;
}


%form-btn {
  @extend %btn__accent;
  border-radius: 0 0.5rem 0.5rem 0;
}


%btn__text {
  display: flex;
  justify-content: center;  
  font-family: $font-title;
  font-weight: bold;
  font-size: 1.4rem
}

%btn__usually{
  @extend %btn__text;
  border-radius: 0.5rem;
  color: $color-dark; 
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0);
}

%title-on-img {
  font-size: 3rem;
  z-index: 2;
  font-family: $font-title;
  color: #fff;
}


%label {
  background-color: $color-label;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 0.6rem;
}



.intro {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/intro.png");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  color: #fff;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #555555;
    opacity: 0.6;
    mix-blend-mode: multiply;
  }
  &__logo {
   position: absolute;
   top: 2rem;
   left: 2rem;  
   @media(min-width: $md){
    top: 2.7rem;
    left: 15.6rem; 
   }
   @media(min-width: $lg){
    top: 3.5rem;
    left: 20.2rem; 
   }
   @media(min-width: $xl){
    top: 4.5rem;
    left: 25.5rem;
   }
  }


  &__nav {
    position: absolute;
    top: 2rem;
    right: 2rem; 
    @media(min-width: $xl){
      top: 4.5rem;
      right: 25.5rem;
     }
     @media(min-width: $lg){
      top: 3.5rem;
      right: 20.2rem; 
     }
     @media(min-width: $md){
      top: 2.7rem;
      right: 15.6rem; 
     }
     
    font-size: 1.6rem;
    font-family: $font-title;
    font-weight: bold;

    
  }
  &__subtitle {
    margin: 3rem 0 9rem;
  }
  &__form {
    display: flex;
    justify-content: start;
  }
  &__btn {
    @extend %form-btn;
    @media(min-width: $lg) {
      width: 20rem;
    }
    width: 24vw;//9.2rem;
  }
  &__numbers{
    position: absolute;
    bottom: -6.5rem;
    background-color: #fff;
    height: 14rem;
    text-align: center;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  }
}

.inline-form {
  height: 6rem;
  &__field {
    @extend %form-input;
    width: 76vw;//26.2rem;
    @media(min-width: $lg){
      width: 57rem;
    }
    padding: 2rem;
  }
}



.nav {
  &__item {
    padding: 0 1.2rem;
    color: $color-light;
  }
  &__btn{
    background: rgba(255, 255, 255, 0);
    color: $color-light;
    font-family: $font-title;
    font-weight: bold;
    border-radius: 2rem;
    border: 1px solid #fff;
    width: 15rem;
    height: 4rem;
  }
}


.numbers {
  &__container{
    padding: 3.5rem 0;
  }
  &__item {
    @include col-lg(3);
    height: 100%;
  }
  &__title{
    color: $color-dark;
    font-weight: bold;
    font-size: 3rem;
  }
  &__line {
    @media (min-width: $lg){
      border-left: 1px solid $color-usually;
    }
    position: absolute;
    top: 3.2rem;
    height: 8rem;
   
  }
 
}

/* %info-btn {
  display: flex;
  justify-content: center;  
  font-weight: bold;
  font-size: 1.4rem;
  font-family: $font-title;
  color: $color-dark;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
}
 */


.destinations {
  padding: 17.5rem 0 8rem;
  &__container {
    margin-top: 8.5rem;
  }
  &__item {
    @include col-lg(4);
    margin-bottom: $gutter * 2;
    &--wide {
      @include col-lg(8);
    }
  }
  &__btn {
    @extend %btn__usually;
    margin-top: 10rem;
    height: 6rem;
    width: 31rem;
  }
}

.destination {
  height: 29rem;
  @media (min-width: $xl) {
    height: 37rem;
  }
  &--service1{
    background-image: url("../img/service1.png");
  }
  &--service2{
    background-image: url("../img/service2.png");
  }
  &--service3{
    background-image: url("../img/service3.png");
  }
  &--service4{
    background-image: url("../img/service4.png");
  }
  &--service5{
    background-image: url("../img/service5.png");
  }
  background-size: cover;
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    opacity: 0.6;
    mix-blend-mode: multiply;
    background: linear-gradient(#fff, #000);
    z-index: 1;
  }
  &__text {
   @extend %title-on-img;
  }
  &__subtitle{
    padding-top: 1.5rem;
    font-size: 2rem;
  }
  &__label {
    @extend %label;
    width: 8rem;
    height: 4.5rem;
  }

}

.boat-info {
  background-image: url("../img/boat-info.png");
  background-size: cover;
  background-position: center;
  height: 70vh;
  color: #fff;
  text-align: center; 
  position: relative;
  z-index: 0;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #201b5b;
    z-index: -1;
    opacity: 0.3;
    mix-blend-mode: multiply;
  }
  &__text {
    padding-top: 19rem;
  }
  &__subtitle{
    padding-top: 2.7rem;
  } 
  &__btn{
    position: relative;
    top: 9rem;
    @extend %btn__accent;
    width: 32rem;
    height: 5.5rem;
  }
}

.boats {
  padding-top: 10rem;
  padding-bottom: 20rem;
  &__item {
    @include col-lg(6);
    margin-bottom: $gutter * 2;
  }
  &__container {
    margin-top: 9rem;
  }
  &__btn {
    position: relative;
    top: 9rem;
    @extend %btn__usually;
    width: 23rem;
    height: 5.5rem;
  }
}

.boat {
  height: 29rem;
  @media (min-width: $xl) {
    height: 34rem;
  }
  &--1{
    background-image: url("../img/boat1.png");
  }
  &--2{
    background-image: url("../img/boat2.png");
  }
  &--3{
    background-image: url("../img/boat3.png");
  }
  &--4{
    background-image: url("../img/boat4.png");
  }
  background-size: cover;
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    opacity: 0.6;
    mix-blend-mode: multiply;
    background: linear-gradient(#fff, #000);
    z-index: 0;
  }

  &__label {
    @extend %label;
    width: 10.5rem;
    height: 4.2rem;
  }

  &__text {
    @extend %title-on-img;
  }
  &__subtitle {
    display: flex;
    font-family: $font-main;
    font-size: 1.6rem;
    font-weight: regular;
    margin-top: 2rem;
  }
 
}

.footer {
/*   position: absolute;
  bottom: 0; */
  height: 38%;
  background-image: url("../img/footer-bg.png");
  background-size: cover;
  background-position: start;
  
  &__item {
    @include col-lg(2);
    padding: 0 $gutter*2;
    &--wide {
      @include col-lg(6);
      padding: 0 $gutter*2;
     /*  margin: $gutter * 2; */
    }
  }
  &__item-container {
    margin-top: 6.5rem;
    color: #fff;
    font-size: 1.4rem;
  }
  &__title {
    font-family: $font-title;
    font-weight: bold;
    padding-bottom: 2.5rem;
  }
  &__text{
    font-weight: regular;
    line-height: 2;
  }
  &__subscribe {
    display: flex;
    justify-content: start;
  }
  &__btn {
    @extend %form-btn;
    width: 15rem;
  }
}

.subscribe {
  &__field {
    height: 4.2rem;
  }
  &__input {
    @extend %form-input;
    width: 27rem;
    padding: 2rem;
  }
 
}

.img-label__map {
  width: 2rem;
  height: 2rem;
}

.img-label__people-number {
  width: 2rem;
  height: 2rem; 
}

.subtitle {
  &__map {
   display: flex;
  }
  &__people {
    display: flex;
    padding-left: 2rem;
  }
 
}




.section-title {
  text-align: center;
  &__title {
    font-family: $font-main;
    font-size: 3rem;
    text-transform: uppercase;
  }
  &__subtitle {
    padding: 3rem 0 8rem;
  }
}


.row--center {
  display: flex;
  justify-content: center;
}

.usually-text {
  color: $color_usually;
  font-weight: 400;
  font-size: 1.6rem;
}

.title {
  font-size: 7.2rem;
  font-weight: 700;
  font-family: $font-title;
  letter-spacing: 0.5rem;
}

.subtitle {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: regular;
}


